adf-p1-prod-eus/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-p1-prod-eus"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ext_tz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tz"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_urgncy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "urgncy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_usp_contact_handling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "usp_contact_handling"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_usp_target_time')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "usp_target_time"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_zContrato')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "zContrato"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ext_zServicio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cn_sqlcaprod",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ca-sdm"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "binary"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "tenant_number",
						"type": "nvarchar"
					},
					{
						"name": "service_provider",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contact",
						"type": "binary"
					},
					{
						"name": "logo",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "ntext"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "fax_number",
						"type": "nvarchar"
					},
					{
						"name": "alt_phone",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "binary"
					},
					{
						"name": "inactive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "version_number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creation_user",
						"type": "nvarchar"
					},
					{
						"name": "creation_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_update_user",
						"type": "nvarchar"
					},
					{
						"name": "last_update_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tenant",
						"type": "binary"
					},
					{
						"name": "ldap_tenant_group",
						"type": "nvarchar"
					},
					{
						"name": "parent",
						"type": "binary"
					},
					{
						"name": "fkey_group",
						"type": "binary"
					},
					{
						"name": "subtenants_ok",
						"type": "int",
						"precision": 10
					},
					{
						"name": "subtenant_group",
						"type": "binary"
					},
					{
						"name": "supertenant_group",
						"type": "binary"
					},
					{
						"name": "relatedtenant_group",
						"type": "binary"
					},
					{
						"name": "tenant_depth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "auto_rep_version",
						"type": "timestamp"
					},
					{
						"name": "tou_id",
						"type": "binary"
					},
					{
						"name": "zCorreo",
						"type": "nvarchar"
					},
					{
						"name": "zTelefono",
						"type": "nvarchar"
					},
					{
						"name": "zURL",
						"type": "nvarchar"
					},
					{
						"name": "logo_picture",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zNotifPers",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zSelecNotifica",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zGC_TipoComentarioPrivado",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zCntRolAccesoSolicitudes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "zServicio"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Parquet2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tdet_key as string,\n\t\tdet_language_code as string,\n\t\tdet_id as string,\n\t\tdet_opportunity_key as string,\n\t\tdet_product_key as string,\n\t\tdet_sequence as integer,\n\t\tdet_principal as boolean,\n\t\tdet_category as string,\n\t\tdet_businessline as string,\n\t\tdet_product_id_name as string,\n\t\tdet_product_name as string,\n\t\tdet_product_brand as string,\n\t\tdet_modalidad as string,\n\t\tdet_delivery_bu as string,\n\t\tdet_presales_bu as string,\n\t\tdet_skipcalc as integer,\n\t\tdet_trxcurrency as string,\n\t\tdet_exchange_rate as decimal(38,18),\n\t\tdet_exchange_rate_decimal as decimal(38,18),\n\t\tdet_quantity as decimal(38,18),\n\t\tdet_price_unit as decimal(38,18),\n\t\tdet_price_unit_base as decimal(38,18),\n\t\tdet_price_unit_decimal as decimal(38,18),\n\t\tdet_recalc as decimal(38,18),\n\t\tdet_recalc_base as decimal(38,18),\n\t\tdet_base_amount as decimal(38,18),\n\t\tdet_base_amount_base as decimal(38,18),\n\t\tdet_base_amount_decimal as decimal(38,18),\n\t\tdet_base_amount_div as decimal(38,18),\n\t\tdet_base_amount_div_base as decimal(38,18),\n\t\tdet_total_integration as decimal(38,18),\n\t\tdet_total_integration_base as decimal(38,18),\n\t\tdet_total_integration_decimal as decimal(38,18),\n\t\tdet_margin as decimal(38,18),\n\t\tdet_margin_base as decimal(38,18),\n\t\tdet_margin_decimal as decimal(38,18),\n\t\tdet_total_cost as decimal(38,18),\n\t\tdet_total_cost_base as decimal(38,18),\n\t\tdet_total_cost_decimal as decimal(38,18),\n\t\tdet_quota_quantity as integer,\n\t\tdet_quota_amount as decimal(38,18),\n\t\tdet_quota_amount_base as decimal(38,18),\n\t\tdet_quota_amount_decimal as decimal(38,18),\n\t\tdet_unit_amount as decimal(38,18),\n\t\tdet_unit_amount_base as decimal(38,18),\n\t\tdet_unit_amount_decimal as decimal(38,18),\n\t\tdet_createdon as timestamp,\n\t\tdet_modifiedon as timestamp,\n\t\tdet_owner_user_id as string,\n\t\tdet_owner_user_key as integer,\n\t\tdet_presales_user_id as string,\n\t\tdet_presales_user_key as integer,\n\t\tdet_delivery_user_id as string,\n\t\tdet_delivery_user_key as integer,\n\t\thea_createdon_date as timestamp,\n\t\thea_modifiedon_date as timestamp,\n\t\thea_estimated_close_date as timestamp,\n\t\thea_actual_close_date as timestamp,\n\t\thea_close_date as timestamp,\n\t\thea_sales_stage_change_date as timestamp,\n\t\thea_billing_start_date as timestamp,\n\t\thea_proposal_sent_date as timestamp,\n\t\thea_operation_start_date as timestamp,\n\t\thea_statecode as integer,\n\t\thea_statecode_name as string,\n\t\thea_statuscode as integer,\n\t\thea_statuscode_name as string,\n\t\thea_account_name as string,\n\t\thea_account_key as string,\n\t\thea_sales_stage_code_name as string,\n\t\thea_sales_stage_name as string,\n\t\thea_phase_name as string,\n\t\thea_nature_name as string,\n\t\thea_country as string,\n\t\thea_businessline as string,\n\t\thea_complexity as integer,\n\t\thea_bu_name as string,\n\t\thea_bu_divisionname as string,\n\t\thea_gross_margin as decimal(38,18),\n\t\thea_net_margin as decimal(38,18),\n\t\thea_purchase_order as string,\n\t\thea_qualification_endcycle as boolean,\n\t\thea_winner_name as string,\n\t\thea_resolution_code as string,\n\t\thea_regional_opp as boolean,\n\t\thea_commited_to_FC as boolean,\n\t\thea_close_probability as integer,\n\t\thea_createdby_name as string,\n\t\topr_producttypecode_name as string,\n\t\tdet_createdby as string,\n\t\tdet_createdonbehalfby as string,\n\t\tdet_modifiedby as string,\n\t\tdet_modifiedonbehalfby as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tlimit: 100,\n\trowUrlColumn: 'FileName',\n\tformat: 'parquet') ~> source1\nsource1 derive(month = split(toString(det_createdon),'-')[2],\n\t\tyear = toInteger(split(toString(det_createdon),'-')[1])+1) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tpartitionBy('key',\n\t\t0,\n\t\tyear,\n\t\tmonth\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/opportunity')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "crm"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "cn_dls_bra_p1",
								"type": "LinkedServiceReference"
							},
							"name": "opportunity"
						},
						{
							"dataset": {
								"referenceName": "mdopportunity",
								"type": "DatasetReference"
							},
							"name": "oppmetadata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dt_opportunity",
								"type": "DatasetReference"
							},
							"name": "dtopportunity"
						}
					],
					"transformations": [
						{
							"name": "selectopportunity"
						},
						{
							"name": "mdstate"
						},
						{
							"name": "stateport"
						},
						{
							"name": "Selectstate"
						},
						{
							"name": "selectport"
						},
						{
							"name": "statespa"
						},
						{
							"name": "Selectspa"
						}
					],
					"script": "source(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tcmtx_tipodepropuesta as long,\n\t\tcmtx_copia as long,\n\t\tcmtx_migracion as long,\n\t\tcmtx_tiporevision as long,\n\t\tcmtx_aprobaciongerentecomercial as long,\n\t\tcmtx_finformulariocalificacion as long,\n\t\tcmtx_nuevadivisa as long,\n\t\tcmtx_estadonotificaciones as long,\n\t\tcmtx_cerraroportunidad as long,\n\t\tcmtx_proveedorprime as long,\n\t\tcmtx_status as long,\n\t\tcmtx_gtegralcorpapruebacalificacion as long,\n\t\tcmtx_tipodolor as long,\n\t\tcmtx_etapadeproceso as long,\n\t\tskippricecalculation as long,\n\t\tpurchaseprocess as long,\n\t\tcmtx_validacionpreventa as long,\n\t\tinitialcommunication as long,\n\t\tcmtx_naturalezadeoportunidad as long,\n\t\tsalesstagecode as long,\n\t\tcmtx_origen as long,\n\t\tneed as long,\n\t\tcmtx_claridaddelentendimiento as long,\n\t\tmsdyn_forecastcategory as long,\n\t\tcmtx_reqpreventa as long,\n\t\tcmtx_gtegralcorpapruebaprueba as long,\n\t\tpurchasetimeframe as long,\n\t\tcmtx_tiporeapertura as long,\n\t\ttimeline as long,\n\t\tpricingerrorcode as long,\n\t\tcmtx_entendimientodelprocesodedecision as long,\n\t\tcmtx_apruebapreciosymargenes as long,\n\t\tprioritycode as long,\n\t\tsalesstage as long,\n\t\tcmtx_momentodelaoportunidad as long,\n\t\topportunityratingcode as long,\n\t\tcmtx_procesodeventa as long,\n\t\tbudgetstatus as long,\n\t\tcmtx_tipodenegocio as long,\n\t\tcmtx_aprobaciondirector as long,\n\t\tcmtx_transformar as boolean,\n\t\tcaptureproposalfeedback as boolean,\n\t\tevaluatefit as boolean,\n\t\tpresentproposal as boolean,\n\t\tresolvefeedback as boolean,\n\t\tcmtx_validadoporpreventa as boolean,\n\t\tcmtx_negocioregional as boolean,\n\t\tcmtx_commitedtoforecast as boolean,\n\t\tcmtx_existepresupuesto as boolean,\n\t\tcmtx_paradepuracion as boolean,\n\t\tidentifycompetitors as boolean,\n\t\tdecisionmaker as boolean,\n\t\tfiledebrief as boolean,\n\t\tcmtx_considerarendepuracion as boolean,\n\t\tisprivate as boolean,\n\t\tcmtx_cerrarperdida as boolean,\n\t\tpursuitdecision as boolean,\n\t\tcompletefinalproposal as boolean,\n\t\tcmtx_bloqueooportunidad as boolean,\n\t\tcmtx_terminociclopym as boolean,\n\t\tidentifycustomercontacts as boolean,\n\t\tconfirminterest as boolean,\n\t\tsonda_gestionpropietario as boolean,\n\t\tpresentfinalproposal as boolean,\n\t\tcmtx_acuerdosfinales as boolean,\n\t\tidentifypursuitteam as boolean,\n\t\tcmtx_envioaprobacion as boolean,\n\t\tmbo_validarproductointegracion as boolean,\n\t\tcmtx_registroporplanilla as boolean,\n\t\tcmtx_oportunidadcompartida as boolean,\n\t\tdevelopproposal as boolean,\n\t\tisrevenuesystemcalculated as boolean,\n\t\tcmtx_rechazoaprobadoradm as boolean,\n\t\tcmtx_aprobaciondelivery as boolean,\n\t\tcmtx_deseacambiarladivisa as boolean,\n\t\tparticipatesinworkflow as boolean,\n\t\tcmtx_conocemosfactorescriticos as boolean,\n\t\tsendthankyounote as boolean,\n\t\tcmtx_terminociclocalificacion as boolean,\n\t\tcmtx_archivopreventa as boolean,\n\t\tcmtx_registroactivo as boolean,\n\t\tcmtx_avanceetapa3 as boolean,\n\t\tcmtx_avanceetapa2 as boolean,\n\t\tcmtx_avanceetapa1 as boolean,\n\t\tcmtx_avanceetapa5 as boolean,\n\t\tcmtx_avanceetapa4 as boolean,\n\t\tcmtx_poseesondaunaventajacompetitiva as boolean,\n\t\tmbo_omitirvalidacindeproductointegracin as boolean,\n\t\tcompleteinternalreview as boolean,\n\t\tcmtx_gerentegeneralcorp as string,\n\t\tcmtx_gerentegeneralcorp_entitytype as string,\n\t\tcmtx_ganador as string,\n\t\tcmtx_ganador_entitytype as string,\n\t\tcmtx_apadministrativo as string,\n\t\tcmtx_apadministrativo_entitytype as string,\n\t\toriginatingleadid as string,\n\t\toriginatingleadid_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcmtx_kpioportunidad as string,\n\t\tcmtx_kpioportunidad_entitytype as string,\n\t\tcmtx_directorventas as string,\n\t\tcmtx_directorventas_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcmtx_coach as string,\n\t\tcmtx_coach_entitytype as string,\n\t\tcmtx_linea_negocioid as string,\n\t\tcmtx_linea_negocioid_entitytype as string,\n\t\tcmtx_oportunidadpadre as string,\n\t\tcmtx_oportunidadpadre_entitytype as string,\n\t\tcmtx_codres0 as string,\n\t\tcmtx_codres0_entitytype as string,\n\t\tcmtx_admfilial as string,\n\t\tcmtx_admfilial_entitytype as string,\n\t\tcmtx_gerentecomercial as string,\n\t\tcmtx_gerentecomercial_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tslaid as string,\n\t\tslaid_entitytype as string,\n\t\tcmtx_sponsor as string,\n\t\tcmtx_sponsor_entitytype as string,\n\t\tnew_validarop as string,\n\t\tnew_validarop_entitytype as string,\n\t\tcmtx_filial as string,\n\t\tcmtx_filial_entitytype as string,\n\t\tcmtx_unidadsonda as string,\n\t\tcmtx_unidadsonda_entitytype as string,\n\t\tcontactid as string,\n\t\tcontactid_entitytype as string,\n\t\tcmtx_gtefilial as string,\n\t\tcmtx_gtefilial_entitytype as string,\n\t\tcmtx_recomendadortecnico as string,\n\t\tcmtx_recomendadortecnico_entitytype as string,\n\t\tparentcontactid as string,\n\t\tparentcontactid_entitytype as string,\n\t\tcmtx_oportunidadplanificadaid as string,\n\t\tcmtx_oportunidadplanificadaid_entitytype as string,\n\t\tcmtx_codres1 as string,\n\t\tcmtx_codres1_entitytype as string,\n\t\tcmtx_cmtx_unidad_deliveryid as string,\n\t\tcmtx_cmtx_unidad_deliveryid_entitytype as string,\n\t\tcmtx_concomercial as string,\n\t\tcmtx_concomercial_entitytype as string,\n\t\tcmtx_opppc as string,\n\t\tcmtx_opppc_entitytype as string,\n\t\tcmtx_productoprincipal as string,\n\t\tcmtx_productoprincipal_entitytype as string,\n\t\tcampaignid as string,\n\t\tcampaignid_entitytype as string,\n\t\tcmtx_ofertasonda as string,\n\t\tcmtx_ofertasonda_entitytype as string,\n\t\tocpq_primary_quote_id as string,\n\t\tocpq_primary_quote_id_entitytype as string,\n\t\tcmtx_modalidadoportunidadid as string,\n\t\tcmtx_modalidadoportunidadid_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcmtx_codres2 as string,\n\t\tcmtx_codres2_entitytype as string,\n\t\tslainvokedid as string,\n\t\tslainvokedid_entitytype as string,\n\t\tcmtx_decisor as string,\n\t\tcmtx_decisor_entitytype as string,\n\t\tcmtx_creditoycobranza as string,\n\t\tcmtx_creditoycobranza_entitytype as string,\n\t\tcmtx_marketing as string,\n\t\tcmtx_marketing_entitytype as string,\n\t\tcmtx_usuariofinal as string,\n\t\tcmtx_usuariofinal_entitytype as string,\n\t\tcmtx_unidaddenegocio as string,\n\t\tcmtx_unidaddenegocio_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tcmtx_gerentedivision as string,\n\t\tcmtx_gerentedivision_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tcmtx_influenciador as string,\n\t\tcmtx_influenciador_entitytype as string,\n\t\tparentaccountid as string,\n\t\tparentaccountid_entitytype as string,\n\t\tcmtx_preventaprincipal as string,\n\t\tcmtx_preventaprincipal_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsa_partnerid as string,\n\t\tmsa_partnerid_entitytype as string,\n\t\tcmtx_procesoactivo as string,\n\t\tcmtx_procesoactivo_entitytype as string,\n\t\tcmtx_pais as string,\n\t\tcmtx_pais_entitytype as string,\n\t\tmsa_partneroppid as string,\n\t\tmsa_partneroppid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\taccountid as string,\n\t\taccountid_entitytype as string,\n\t\tcmtx_idoportunidadorigen as string,\n\t\tcmtx_idoportunidadorigen_entitytype as string,\n\t\tpricelevelid as string,\n\t\tpricelevelid_entitytype as string,\n\t\tcmtx_unidaddenegocioresponsableid as string,\n\t\tcmtx_unidaddenegocioresponsableid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tcustomerid as string,\n\t\tcustomerid_entitytype as string,\n\t\ttotaldiscountamount_base as decimal(18,2),\n\t\tcmtx_recalculo as decimal(18,2),\n\t\ttotalamountlessfreight as decimal(18,2),\n\t\tcmtx_presupuesto as decimal(18,2),\n\t\tcmtx_calgtegralcorp_base as decimal(18,2),\n\t\tfreightamount as decimal(18,2),\n\t\tcmtx_costo as decimal(18,2),\n\t\ttotalamount as decimal(18,2),\n\t\tcmtx_margenliquido_base as decimal(18,2),\n\t\tcmtx_costo_base as decimal(18,2),\n\t\tactualvalue as decimal(18,2),\n\t\tcmtx_calmontogtediv_base as decimal(18,2),\n\t\ttotallineitemdiscountamount as decimal(18,2),\n\t\tactualvalue_base as decimal(18,2),\n\t\tcmtx_calgtegralcorp as decimal(18,2),\n\t\tbudgetamount as decimal(18,2),\n\t\ttotallineitemamount_base as decimal(18,2),\n\t\tcmtx_total_base as decimal(18,2),\n\t\tcmtx_calmontogtecomercial as decimal(18,2),\n\t\tcmtx_montoofertaganadora as decimal(18,2),\n\t\tcmtx_impuesto_base as decimal(18,2),\n\t\tcmtx_margenliquido as decimal(18,2),\n\t\tfreightamount_base as decimal(18,2),\n\t\tcmtx_montoofertaganadora_base as decimal(18,2),\n\t\tcmtx_margen as decimal(18,2),\n\t\tcmtx_calmontogtediv as decimal(18,2),\n\t\ttotaltax as decimal(18,2),\n\t\tcmtx_margen_base as decimal(18,2),\n\t\ttotaltax_base as decimal(18,2),\n\t\tcmtx_calmontogtecomercial_base as decimal(18,2),\n\t\tcmtx_recalculo_base as decimal(18,2),\n\t\ttotalamountlessfreight_base as decimal(18,2),\n\t\ttotaldiscountamount as decimal(18,2),\n\t\testimatedvalue_base as decimal(18,2),\n\t\ttotalamount_base as decimal(18,2),\n\t\tdiscountamount_base as decimal(18,2),\n\t\ttotallineitemdiscountamount_base as decimal(18,2),\n\t\tcmtx_total as decimal(18,2),\n\t\ttotallineitemamount as decimal(18,2),\n\t\tdiscountamount as decimal(18,2),\n\t\tbudgetamount_base as decimal(18,2),\n\t\testimatedvalue as decimal(18,2),\n\t\tcmtx_impuesto as decimal(18,2),\n\t\tcmtx_presupuesto_base as decimal(18,2),\n\t\tcmtx_preventaprincipalname as string,\n\t\tcmtx_montoofertaganadora_decimal as decimal(18,2),\n\t\tutcconversiontimezonecode as long,\n\t\tcmtx_usuariocrm4 as string,\n\t\tcmtx_diferenciador_ventaja as string,\n\t\tcmtx_filialname as string,\n\t\tcmtx_apadministrativoname as string,\n\t\ttransactioncurrencyidname as string,\n\t\tcmtx_fechacierreoportunidad as timestamp,\n\t\tcmtx_costo_decimal as decimal(18,2),\n\t\tcmtx_linea_negocioidname as string,\n\t\tcmtx_kpioportunidadname as string,\n\t\tstepname as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcmtx_importesinfletetotal_decimal as decimal(18,2),\n\t\tcmtx_porcentajemargenliquido as decimal(18,2),\n\t\topportunityid as string,\n\t\tcreatedbyname as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcmtx_gerentecomercialyominame as string,\n\t\temailaddress as string,\n\t\tqualificationcomments as string,\n\t\tcmtx_sponsoryominame as string,\n\t\tcmtx_total_decimal as decimal(18,2),\n\t\tcmtx_porcentajemargenbruto as decimal(18,2),\n\t\tcmtx_justificacincambiodefechaestcierre as string,\n\t\tcmtx_gerentegeneralcorpname as string,\n\t\tcmtx_importedeflete_decimal as decimal(18,2),\n\t\tcmtx_concomercialyominame as string,\n\t\tstageid as string,\n\t\tslainvokedidname as string,\n\t\tcmtx_ingresosreales_decimal as decimal(18,2),\n\t\tcmtx_valor_status_crm4 as string,\n\t\tdiscountpercentage as decimal(18,2),\n\t\tcmtx_concomercialname as string,\n\t\tcmtx_marketingyominame as string,\n\t\tonholdtime as long,\n\t\tcustomeridname as string,\n\t\tcmtx_importededescuentototal_decimal as decimal(18,2),\n\t\tcmtx_importededescuentodeoportunidad_decimal as decimal(18,2),\n\t\tcmtx_oportunidadplanificadaidname as string,\n\t\tcmtx_cantidadcompetidores as long,\n\t\tcmtx_importededescuentoelementodelineatotal_de as decimal(18,2),\n\t\tcmtx_sumaaprobacionesdelivery as long,\n\t\tcmtx_usuariofinalyominame as string,\n\t\tcmtx_marketingname as string,\n\t\tcmtx_ganadorname as string,\n\t\tmodifiedbyyominame as string,\n\t\tcmtx_importedetalladototal_decimal as decimal(18,2),\n\t\tcustomerneed as string,\n\t\tcmtx_procesoactivoname as string,\n\t\tparentaccountidyominame as string,\n\t\testimatedclosedate as timestamp,\n\t\tcmtx_codres2name as string,\n\t\tcloseprobability as long,\n\t\tcmtx_usuariofinalname as string,\n\t\tcmtx_gerentecomercialname as string,\n\t\tcmtx_solucionfinal as string,\n\t\tcmtx_ordendecompra as string,\n\t\tcmtx_fechaactualizacionconsolidado as timestamp,\n\t\tsonda_fechaultimagestioncomercial as timestamp,\n\t\tcmtx_idoportunidad as string,\n\t\tcmtx_influenciadorname as string,\n\t\tcmtx_coachname as string,\n\t\tmsa_partneridyominame as string,\n\t\tcmtx_influenciadoryominame as string,\n\t\tmodifiedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\tcmtx_fechacompra as timestamp,\n\t\tcmtx_importedepresupuesto_decimal as decimal(18,2),\n\t\tcmtx_proceso_toma_desicion as string,\n\t\tcmtx_costo_date as timestamp,\n\t\tcmtx_gerentedivisionname as string,\n\t\toriginatingleadidyominame as string,\n\t\tocpq_primary_quote_idname as string,\n\t\tcmtx_unidadnegociocrm4 as string,\n\t\tactualclosedate as timestamp,\n\t\tcmtx_coachyominame as string,\n\t\tcmtx_nombreproveedor as string,\n\t\tcmtx_fechainiciooperacion as timestamp,\n\t\tcmtx_preventaprincipalyominame as string,\n\t\tlastonholdtime as timestamp,\n\t\tcmtx_aprobacionesdeliverycal as long,\n\t\tversionnumber as long,\n\t\tcmtx_ofertasondaname as string,\n\t\tdescription as string,\n\t\tcmtx_banderaestado as string,\n\t\tcmtx_directorventasname as string,\n\t\tcmtx_costo_state as long,\n\t\taccountidyominame as string,\n\t\tcmtx_indicarfactorescriticos as string,\n\t\tcmtx_numeroasignacion as string,\n\t\tcmtx_descripcionproyecto as string,\n\t\tcmtx_admfilialname as string,\n\t\tparentaccountidname as string,\n\t\tcmtx_admfilialyominame as string,\n\t\tcmtx_presentaciondelaoferta as timestamp,\n\t\tcmtx_descripcion_solucion as string,\n\t\tcmtx_recomendadortecniconame as string,\n\t\ttimespentbymeonemailandmeetings as string,\n\t\tcmtx_identificaciondeldolor as string,\n\t\tschedulefollowup_qualify as timestamp,\n\t\texchangerate as decimal(18,2),\n\t\tcmtx_unidaddenegocioname as string,\n\t\tcmtx_observacionescierre as string,\n\t\tcmtx_estimatedvalue_decimal as decimal(18,2),\n\t\tcmtx_gtefilialyominame as string,\n\t\tcustomeridyominame as string,\n\t\tcmtx_ganadorotros as string,\n\t\tcmtx_impuestototal_decimal as decimal(18,2),\n\t\tcmtx_totalactividaddelivery as long,\n\t\tfinaldecisiondate as timestamp,\n\t\tcmtx_margen_decimal as decimal(18,2),\n\t\tteamsfollowed as long,\n\t\tcmtx_decisorname as string,\n\t\tquotecomments as string,\n\t\tcmtx_margen_date as timestamp,\n\t\tproposedsolution as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tcmtx_codres0name as string,\n\t\tparentcontactidyominame as string,\n\t\tmbo_idtributario as string,\n\t\taccountidname as string,\n\t\tcmtx_detalledeldolor as string,\n\t\tprocessid as string,\n\t\towneridtype as string,\n\t\tcmtx_directorventasyominame as string,\n\t\ttraversedpath as string,\n\t\tcmtx_gtefilialname as string,\n\t\tcmtx_fechaenviopropuesta as timestamp,\n\t\tscheduleproposalmeeting as timestamp,\n\t\tcmtx_gerentedivisionyominame as string,\n\t\timportsequencenumber as long,\n\t\tcmtx_presupuestodelcliente_decimal as decimal(18,2),\n\t\tcmtx_creditoycobranzayominame as string,\n\t\tcmtx_ganadoryominame as string,\n\t\tcontactidname as string,\n\t\tpricelevelidname as string,\n\t\towneridyominame as string,\n\t\tcurrentsituation as string,\n\t\tcustomeridtype as string,\n\t\tcmtx_totalamount_decimal as decimal(18,2),\n\t\tcmtx_paisname as string,\n\t\tmbo_idcostopersonas as string,\n\t\towneridname as string,\n\t\tcmtx_idcrm4 as string,\n\t\tcmtx_modalidadoportunidadidname as string,\n\t\tstepid as string,\n\t\tcmtx_codres1name as string,\n\t\tcmtx_unidadsondaname as string,\n\t\tcreatedon as timestamp,\n\t\tparentcontactidname as string,\n\t\tcampaignidname as string,\n\t\tcmtx_creditoycobranzaname as string,\n\t\tcmtx_gerentegeneralcorpyominame as string,\n\t\tcmtx_idoportunidadorigenname as string,\n\t\tcmtx_cmtx_unidad_deliveryidname as string,\n\t\tcmtx_tasadecambio_decimal as decimal(18,2),\n\t\tmodifiedonbehalfbyname as string,\n\t\tcmtx_oportunidadpadrename as string,\n\t\tmsa_partneroppidname as string,\n\t\tcmtx_fechacambiodeetapa as timestamp,\n\t\tcmtx_margen_state as long,\n\t\tcmtx_opppcname as string,\n\t\tcmtx_calmontogtediv_decimal as decimal(18,2),\n\t\tcreatedbyyominame as string,\n\t\tnew_identificadoroportunidadplanificada as string,\n\t\tname as string,\n\t\tmodifiedbyname as string,\n\t\tcmtx_recomendadortecnicoyominame as string,\n\t\tmsa_partneroppidyominame as string,\n\t\tcustomerpainpoints as string,\n\t\tcmtx_sponsorname as string,\n\t\tcmtx_unidaddenegocioresponsableidname as string,\n\t\tcmtx_rechazosdeliverycal as long,\n\t\tcontactidyominame as string,\n\t\tcmtx_apadministrativoyominame as string,\n\t\tcmtx_margenreal as decimal(18,2),\n\t\ttimezoneruleversionnumber as long,\n\t\tcmtx_opparagua as string,\n\t\tslaname as string,\n\t\tmsa_partneridname as string,\n\t\tcmtx_calgtegralcorp_decimal as decimal(18,2),\n\t\tcmtx_decisoryominame as string,\n\t\tschedulefollowup_prospect as timestamp,\n\t\toriginatingleadidname as string,\n\t\tcmtx_calmontogtecomercial_decimal as decimal(18,2),\n\t\tcmtx_fechainiciofacturacion as timestamp,\n\t\tnew_validaropname as string,\n\t\tcmtx_productoprincipalname as string,\n\t\tcmtx_esbigdeals as boolean\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tentity: 'opportunity',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: 'commondataservice-sondamigraci-org187dcebc') ~> opportunity\nsource(output(\n\t\tStateMetadata as (EntityName as string, State as string, IsUserLocalizedLabel as boolean, LocalizedLabelLanguageCode as string, LocalizedLabel as string)[],\n\t\tStatusMetadata as (EntityName as string, State as string, Status as string, IsUserLocalizedLabel as boolean, LocalizedLabelLanguageCode as string, LocalizedLabel as string)[],\n\t\tGlobalOptionSetMetadata as (OptionSetName as string, Option as string, IsUserLocalizedLabel as boolean, LocalizedLabelLanguageCode as string, LocalizedLabel as string)[],\n\t\tOptionSetMetadata as (EntityName as string, OptionSetName as string, Option as string, IsUserLocalizedLabel as boolean, LocalizedLabelLanguageCode as string, LocalizedLabel as string)[],\n\t\tTargetMetadata as (EntityName as string, AttributeName as string, ReferencedEntity as string, ReferencedAttribute as string)[],\n\t\tAttributeMetadata as (EntityName as string, AttributeName as string, AttributeType as string, AttributeTypeCode as string, Version as string, Timestamp as string, MetadataId as string, Precision as string)[]\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> oppmetadata\nopportunity select(mapColumn(\n\t\tparentaccountidname,\n\t\townerid,\n\t\towneridname,\n\t\tcmtx_idoportunidad,\n\t\topportunityId = opportunityid,\n\t\tstatecode,\n\t\tstatuscode,\n\t\tsalesstagecode,\n\t\tsalesstage,\n\t\tcmtx_etapadeproceso,\n\t\tcmtx_naturalezadeoportunidad,\n\t\tname,\n\t\tcmtx_descripcion_solucion,\n\t\tcmtx_pais,\n\t\tcmtx_paisname,\n\t\tcmtx_linea_negocioid,\n\t\tcmtx_linea_negocioidname,\n\t\tcloseprobability,\n\t\tcmtx_claridaddelentendimiento,\n\t\tcmtx_porcentajemargenbruto,\n\t\tcmtx_porcentajemargenliquido,\n\t\tcmtx_ordendecompra,\n\t\tcmtx_terminociclocalificacion,\n\t\tcmtx_ganador,\n\t\tcmtx_ganadorname,\n\t\tcmtx_codres2,\n\t\tcmtx_codres2name,\n\t\tcmtx_negocioregional,\n\t\tcmtx_commitedtoforecast,\n\t\tcreatedbyname,\n\t\tcreatedon,\n\t\testimatedclosedate,\n\t\tactualclosedate,\n\t\tcmtx_fechacierreoportunidad,\n\t\tcmtx_fechacambiodeetapa,\n\t\tcmtx_fechainiciofacturacion,\n\t\tcmtx_fechaenviopropuesta,\n\t\tcmtx_fechainiciooperacion\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> selectopportunity\noppmetadata foldDown(unroll(StateMetadata),\n\tmapColumn(\n\t\tEntityName = StateMetadata.EntityName,\n\t\tState = StateMetadata.State,\n\t\tIsUserLocalizedLabel = StateMetadata.IsUserLocalizedLabel,\n\t\tLocalizedLabelLanguageCode = StateMetadata.LocalizedLabelLanguageCode,\n\t\tLocalizedLabel = StateMetadata.LocalizedLabel\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> mdstate\nselectopportunity, Selectstate lookup(statecode == toInteger(State),\n\tmultiple: false,\n\tpickup: 'first',\n\tasc(LocalizedLabelLanguageCode, true),\n\tbroadcast: 'auto')~> stateport\nmdstate select(mapColumn(\n\t\tState,\n\t\tLocalizedLabelLanguageCode,\n\t\tLocalizedLabel\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Selectstate\nstateport select(mapColumn(\n\t\tparentaccountidname,\n\t\townerid,\n\t\towneridname,\n\t\tcmtx_idoportunidad,\n\t\topportunityId,\n\t\tstatecode,\n\t\tstatecodename = LocalizedLabel,\n\t\tstatuscode,\n\t\tsalesstagecode,\n\t\tsalesstage,\n\t\tcmtx_etapadeproceso,\n\t\tcmtx_naturalezadeoportunidad,\n\t\tname,\n\t\tcmtx_descripcion_solucion,\n\t\tcmtx_pais,\n\t\tcmtx_paisname,\n\t\tcmtx_linea_negocioid,\n\t\tcmtx_linea_negocioidname,\n\t\tcloseprobability,\n\t\tcmtx_claridaddelentendimiento,\n\t\tcmtx_porcentajemargenbruto,\n\t\tcmtx_porcentajemargenliquido,\n\t\tcmtx_ordendecompra,\n\t\tcmtx_terminociclocalificacion,\n\t\tcmtx_ganador,\n\t\tcmtx_ganadorname,\n\t\tcmtx_codres2,\n\t\tcmtx_codres2name,\n\t\tcmtx_negocioregional,\n\t\tcmtx_commitedtoforecast,\n\t\tcreatedbyname,\n\t\tcreatedon,\n\t\testimatedclosedate,\n\t\tactualclosedate,\n\t\tcmtx_fechacierreoportunidad,\n\t\tcmtx_fechacambiodeetapa,\n\t\tcmtx_fechainiciofacturacion,\n\t\tcmtx_fechaenviopropuesta,\n\t\tcmtx_fechainiciooperacion\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> selectport\nselectport, Selectstate lookup(statecode == toInteger(State),\n\tmultiple: false,\n\tpickup: 'last',\n\tasc(LocalizedLabelLanguageCode, true),\n\tbroadcast: 'auto')~> statespa\nstatespa select(mapColumn(\n\t\tparentaccountidname,\n\t\townerid,\n\t\towneridname,\n\t\tcmtx_idoportunidad,\n\t\topportunityId,\n\t\tstatecode,\n\t\tstatecodenameport = statecodename,\n\t\tstatecodenamespa = LocalizedLabel,\n\t\tstatuscode,\n\t\tsalesstagecode,\n\t\tsalesstage,\n\t\tcmtx_etapadeproceso,\n\t\tcmtx_naturalezadeoportunidad,\n\t\tname,\n\t\tcmtx_descripcion_solucion,\n\t\tcmtx_pais,\n\t\tcmtx_paisname,\n\t\tcmtx_linea_negocioid,\n\t\tcmtx_linea_negocioidname,\n\t\tcloseprobability,\n\t\tcmtx_claridaddelentendimiento,\n\t\tcmtx_porcentajemargenbruto,\n\t\tcmtx_porcentajemargenliquido,\n\t\tcmtx_ordendecompra,\n\t\tcmtx_terminociclocalificacion,\n\t\tcmtx_ganador,\n\t\tcmtx_ganadorname,\n\t\tcmtx_codres2,\n\t\tcmtx_codres2name,\n\t\tcmtx_negocioregional,\n\t\tcmtx_commitedtoforecast,\n\t\tcreatedbyname,\n\t\tcreatedon,\n\t\testimatedclosedate,\n\t\tactualclosedate,\n\t\tcmtx_fechacierreoportunidad,\n\t\tcmtx_fechacambiodeetapa,\n\t\tcmtx_fechainiciofacturacion,\n\t\tcmtx_fechaenviopropuesta,\n\t\tcmtx_fechainiciooperacion\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Selectspa\nSelectspa sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> dtopportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_careplica_aux')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capture AUXILIAR data from CA-SDM",
				"activities": [
					{
						"name": "ca_tenants",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_resolution_codes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_tenant.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select [id],[name],[location],[parent],[tenant_depth] from ca_tenant",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "location",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "parent",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "tenant_depth",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 5
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_tenant",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_tenant",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_organizations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_urgencies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_organization.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select [organization_uuid],[org_name],[location_uuid] from ca_organization",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "organization_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "org_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "location_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_organization",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_organization",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_companies",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_company.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select [company_uuid],[company_name],[company_type],[location_uuid] from ca_company",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "company_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "company_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "company_type",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "location_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 4
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_company",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_locations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_companies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_location.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select location_uuid, country,city\nfrom ca_location",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "location_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "country",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_location",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_location",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_contacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_locations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_contact.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select contact_uuid,replace(replace(replace(last_name,char(10),''),char(13),''),char(34),'') as last_name, \nreplace(replace(replace(first_name,char(10),''),char(13),''),char(34),'') as first_name,\nreplace(replace(replace(middle_name,char(10),''),char(13),''),char(34),'') as middle_name,\nreplace(replace(replace(alias,char(10),''),char(13),''),char(34),'') as alias,\nreplace(replace(replace(email_address,char(10),''),char(13),''),char(34),'') as email_address,\ninactive, contact_type, organization_uuid, company_uuid, department,admin_organization_uuid\nfrom ca_contact",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "contact_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "alias",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "email_address",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "inactive",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "contact_type",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "organization_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "company_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "department",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "admin_organization_uuid",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 12
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_contact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_categories",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_contacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_category.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select id, \nreplace(replace(replace([sym],char(10),''),char(13),''),char(34),'') as [sym], \nreplace(replace(replace([description],char(10),''),char(13),''),char(34),'') as [description], persid\nfrom prob_ctg",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_category",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_category",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_contact_types",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_target_times",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_contact_type.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select id, name, description\nfrom ca_contact_type",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_contact_type",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_contact_type",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_impacts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_contact_types",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_impact.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select enum,sym,nx_desc,value\nfrom impact",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "enum",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "nx_desc",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "value",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_impact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_impact",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_crt",
						"description": "Types of tickets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_impacts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_crt.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select id,sym,nx_desc,code\nfrom crt",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "nx_desc",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_crt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_crt",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_departments",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_crt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_resource_department.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select id,name,inactive\nfrom ca_resource_department",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "inactive",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_resource_department",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_resource_department",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_status",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_departments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_status.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select id,sym,code\nfrom cr_stat",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_status",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_status",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_urgencies",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_urgency.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT id,enum,sym,nx_desc,value\n  FROM [urgncy]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "enum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "nx_desc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "value",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 5
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_urgncy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_urgncy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_priorities",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_pri.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [id]\n      ,[enum]\n      ,[sym]\n      ,[nx_desc]\nFROM [pri]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "enum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "nx_desc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_pri",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_pri",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_repmeth",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_priorities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_repmeth.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [id]\n      ,[persid]\n      ,[sym]\n  FROM [repmeth]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_repmeth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_repmeth",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_contact_handlings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_repmeth",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_contact_handling.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [id]\n      ,[contact]\n      ,[special_handling]\n      ,[tenant]\n  FROM [mdb].[dbo].[usp_contact_handling]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "contact",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "special_handling",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "tenant",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 4
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_usp_contact_handling",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_usp_contact_handling",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_tasks_status",
						"description": "tabla = tskstat",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_time_zones",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_tskstat.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT id,persid,del,sym,description,code\n  FROM [tskstat]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_tskstat",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_tskstat",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tskty",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_tasks_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_tskty.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT id,persid,del,sym,code\n  FROM [tskty]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_tskty",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_tskty",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_time_zones",
						"description": "tabla = tz",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_contact_handlings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_tz.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  [id]\n      ,[persid]\n      ,[del]\n      ,[sym]\n      ,[code]\n      ,[gmt_delta]\n      ,[description]\n      ,[start_day]\n      ,[start_mon]\n      ,[start_pos]\n      ,[end_day]\n      ,[end_mon]\n      ,[end_pos]\n      ,[dst_delta]\n  FROM [mdb].[dbo].[tz]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "gmt_delta",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "start_day",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "start_mon",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "start_pos",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "end_day",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "end_mon",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "end_pos",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "dst_delta",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 14
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_tz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_tz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_target_times",
						"description": "table usp_target_time",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_target_time.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [id]\n      ,[del]\n      ,[sym]\n      ,[target_duration]\n      ,[service_type]\n      ,[object_type]\n      ,[object_id]\n      ,[mapped_cr]\n      ,[target_time]\n      ,[actual_time]\n      ,[time_left]\n  FROM [usp_target_time]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "target_duration",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "service_type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "object_type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "object_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "mapped_cr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "target_time",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "actual_time",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "time_left",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 11
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_usp_target_time",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_usp_target_time",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_contracts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_countries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_contract.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT [id]\n      ,[tenant]\n      ,[VigenciaInicio]\n      ,[VigenciaTermino]\n      ,[del]\n      ,replace(replace(replace([description],char(10),''),char(13),''),char(34),'') as description\n      ,replace(replace(replace([sym],char(10),''),char(13),''),char(34),'') as sym\n      ,[EmpresaContratada]\n      ,[EmpresaContratante]\n      ,[VigenciaIndef]\n      ,[OrgResponsable]\n      ,[ContratoInterno]\n  FROM [zContrato]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "tenant",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "VigenciaInicio",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "VigenciaTermino",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "EmpresaContratada",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "EmpresaContratante",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "VigenciaIndef",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "OrgResponsable",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "ContratoInterno",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 12
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_zContrato",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_zContrato",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_services",
						"description": "table zServicio",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_contracts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_service.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "  SELECT [id]\n      ,[tenant]\n      ,[contrato]\n      ,[VigenciaInicio]\n      ,[VigenciaTermino]\n      ,[del]\n      ,replace(replace(replace([description],char(10),''),char(13),''),char(34),'') as description\n      ,replace(replace(replace([sym],char(10),''),char(13),''),char(34),'') as sym\n      ,[VigenciaIndef]\n  FROM [zServicio]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "tenant",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "contrato",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "VigenciaInicio",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "VigenciaTermino",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "VigenciaIndef",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 9
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_zServicio",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_zServicio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_owned_resources",
						"description": "table ca_owned_resource",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_owned_resource.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select DISTINCT own.own_resource_uuid,own.own_resource_id,\nreplace(replace(replace(own.resource_name,char(10),''),char(13),''),char(34),'') as resource_name\nfrom ca_owned_resource own\nWHERE ExISTS(SELECT 1 FROM call_req sub\nWHERE sub.affected_rc=own.own_resource_uuid)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "own_resource_uuid",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"type": "Byte[]",
											"physicalType": "Byte[]",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "own_resource_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "resource_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_owned_resource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_owned_resource",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_resolution_codes",
						"description": "table usp_resolution_code",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_owned_resources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_resolution_code.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select \nid,del,sym from usp_resolution_code",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "del",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "sym",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_owned_resource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_resolution_code",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_countries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ca_tenants",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_country.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select [id],[name] from ca_country",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-12T17:31:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ext_urgncy')]",
				"[concat(variables('factoryId'), '/datasets/ext_usp_contact_handling')]",
				"[concat(variables('factoryId'), '/datasets/ext_tz')]",
				"[concat(variables('factoryId'), '/datasets/ext_usp_target_time')]",
				"[concat(variables('factoryId'), '/datasets/ext_zContrato')]",
				"[concat(variables('factoryId'), '/datasets/ext_zServicio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_careplica_trx')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Capture TRANSACTIONAL data from CA-SDM",
				"activities": [
					{
						"name": "ca_tickets",
						"description": "table origin = call_req",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_call_req_2019.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select\nid,ref_num,parent,persid,active_flag,type,status,category,resolution_code,open_date,close_date,resolve_date,last_mod_dt,tenant,orig_user_organization,\ngroup_id,assignee,log_agent,customer,priority,impact,urgency,replace(replace(replace(major_incident,char(10),''),char(13),''),char(34),'') as major_incident,sla_violation,\npredicted_sla_viol,macro_predict_viol,replace(replace(replace(problem,char(10),''),char(13),''),char(34),'') as problem,time_spent_sum,zcontrato,zservicio,ztdavencido,ztdsvencido,ztda_id,\nztds_id,zreporting_met,zreportetipo,zencuesta,zempresabenef,zempresaparam,created_via,rootcause,affected_rc\nfrom call_req\nWHERE \nlast_mod_dt > @{pipeline().parameters.targetDaily}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ref_num",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "parent",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "persid",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "active_flag",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "resolution_code",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "open_date",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "close_date",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "resolve_date",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "last_mod_dt",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "tenant",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "orig_user_organization",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "group_id",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "assignee",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "log_agent",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 18
										}
									},
									{
										"source": {
											"name": "customer",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 19
										}
									},
									{
										"source": {
											"name": "priority",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 20
										}
									},
									{
										"source": {
											"name": "impact",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 21
										}
									},
									{
										"source": {
											"name": "urgency",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 22
										}
									},
									{
										"source": {
											"name": "major_incident",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 23
										}
									},
									{
										"source": {
											"name": "sla_violation",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 24
										}
									},
									{
										"source": {
											"name": "predicted_sla_viol",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 25
										}
									},
									{
										"source": {
											"name": "macro_predict_viol",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 26
										}
									},
									{
										"source": {
											"name": "problem",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 27
										}
									},
									{
										"source": {
											"name": "time_spent_sum",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 28
										}
									},
									{
										"source": {
											"name": "zcontrato",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 29
										}
									},
									{
										"source": {
											"name": "zservicio",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 30
										}
									},
									{
										"source": {
											"name": "ztdavencido",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 31
										}
									},
									{
										"source": {
											"name": "ztdsvencido",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 32
										}
									},
									{
										"source": {
											"name": "ztda_id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 33
										}
									},
									{
										"source": {
											"name": "ztds_id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 34
										}
									},
									{
										"source": {
											"name": "zreporting_met",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 35
										}
									},
									{
										"source": {
											"name": "zreportetipo",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 36
										}
									},
									{
										"source": {
											"name": "zencuesta",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 37
										}
									},
									{
										"source": {
											"name": "zempresabenef",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 38
										}
									},
									{
										"source": {
											"name": "zempresaparam",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 39
										}
									},
									{
										"source": {
											"name": "created_via",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 40
										}
									},
									{
										"source": {
											"name": "rootcause",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 41
										}
									},
									{
										"source": {
											"name": "affected_rc",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 42
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_call_req",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_call_req",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_ticket_logs",
						"description": "table act_log",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_act_log.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT \n\n  logg.id as ticket_log_id_ref,\n  tick.ref_num as ticket_number,\n  tick.open_date as ticket_open_date,\n  logg.time_stamp as ticket_log_time_stamp,\n  logg.system_time as ticket_log_system_time,\n  logg.last_mod_dt as ticket_log_last_modified,\n  logg.analyst     as ticket_log_analyst,\n  logg.type        as ticket_log_type,\n  logg.internal    as ticket_log_internal,\n  logg.time_spent  as ticket_log_time_spent\n\n  FROM act_log logg\n  INNER JOIN call_req tick ON (logg.call_req_id = tick.persid)\n\nWHERE \ntick.last_mod_dt > @{pipeline().parameters.targetDaily}",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ticket_log_id_ref",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ticket_number",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "ticket_open_date",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "ticket_log_time_stamp",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "ticket_log_system_time",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "ticket_log_last_modified",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "ticket_log_analyst",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "ticket_log_type",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "ticket_log_internal",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "ticket_log_time_spent",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 10
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_ca_act_log",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_ca_act_log",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ca_surveys",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "acr-p1-prod-eus-001/acr-p1-ca-sdm/ext_ca_survey.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    sur.id,\n    sur.object_type,\n    sur.[object_id],\n    sur.last_mod_dt as last_mod_dt_survey,\n    sur.last_mod_by as last_mod_by_survey,\n    suq.id as question_id, \n    REPLACE(REPLACE(REPLACE(suq.txt,char(10),''),char(13),''),char(34),'') as question,\n    suq.sequence as question_order,\n    suq.[response] survey_response_value,\n    REPLACE(REPLACE(REPLACE(CONVERT(nvarchar(max),suq.qcomment),char(10),''),char(13),''),char(34),'') as qcomment,\n    REPLACE(REPLACE(REPLACE(sua.txt,char(10),''),char(13),''),char(34),'') as survey_response, \n    sua.[sequence] as sequence_answer,\n    sua.last_mod_dt as last_mod_dt_answer,\n    sua.last_mod_by as last_mod_by_answer,\n    sur.tenant, \n    suq.mult_resp_flag,\n    suq.resp_required,\n    suq.include_qcomment\n\nFROM survey sur\n\n    LEFT OUTER JOIN survey_question suq ON (sur.id=suq.owning_survey)\n    LEFT OUTER JOIN survey_answer   sua ON (suq.id=sua.own_srvy_question AND sua.selected=1)\n\nWHERE sur.last_mod_dt > @{pipeline().parameters.targetDaily}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "object_type",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "object_id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "last_mod_dt_survey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "last_mod_by_survey",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "question_id",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "question",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "question_order",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "survey_response_value",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "qcomment",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "survey_response",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "sequence_answer",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "last_mod_dt_answer",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "last_mod_by_answer",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "tenant",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "mult_resp_flag",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "resp_required",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "include_qcomment",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 18
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ext_survey",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_survey",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"targetHistorical": {
						"type": "string",
						"defaultValue": "datediff(s, '1970-01-01', '2020-01-01')"
					},
					"targetDaily": {
						"type": "string",
						"defaultValue": "datediff(ss,'1970-01-01',format(getdate()-7,'yyyy-MM-dd'))"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-01-19T13:37:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-07T18:21:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Complemento call_req",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT ref_num,description,summary\nFROM dbo.call_req",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ref_num",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "summary",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dt_ca_tbl_ticket",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ext_ca_call_req_complement",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_careplica_prd')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check Last Export Event",
						"description": "Step to validate the last time that files have been exported to data lake storage.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "chk_trx_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"lastModified",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Last Run Date x Today",
						"description": "Just going to execute Data Loads in case the jobs aren't processed yet on the current date.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Last Exported Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(formatDateTime(variables('lastRun'),'yyyy-MM-dd'),formatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Auxiliar Data",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pip_careplica_aux",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Transactional Data",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Auxiliar Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pip_careplica_trx",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Load Staging Tables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Transactional Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[casdm].[pr_load_staging]",
										"storedProcedureParameters": {
											"load_type": {
												"value": "1",
												"type": "Int16"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "cn_synapse_ca",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load Data Model",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load Staging Tables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[casdm].[pr_load_datamodel]",
										"storedProcedureParameters": {
											"load_type": {
												"value": "1",
												"type": "Int16"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "cn_synapse_ca",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Last Exported Date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Check Last Export Event",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "lastRun",
							"value": {
								"value": "@activity('Check Last Export Event').output.lastModified",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"lastRun": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-01-13T20:14:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pip_careplica_aux')]",
				"[concat(variables('factoryId'), '/pipelines/pip_careplica_trx')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_daily_ca')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily execution job to capture CA-SDM data",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pip_careplica_prd",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-01-14T00:15:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pip_careplica_prd')]"
			]
		}
	]
}